In [1]:
import pandas as pd

In [3]:
daily=pd.read_csv('../dataset/ratio_daily.csv')
pop=pd.read_csv('../dataset/final_result.csv')
environ=pd.read_csv('../dataset/collected_data.csv')

In [4]:
daily.head()

,ID,19_week_daily,19_hol_daily,20_week_daily,20_hol_daily,week ratio,hol ratio
0,101,0.147218,0.248787,0.191620,0.306781,0.301603,0.233109
1,102,0.174882,0.330460,0.234449,0.390857,0.340614,0.182764
2,103,0.186649,0.323529,0.252333,0.382716,0.351916,0.182941
3,104,0.196342,0.355288,0.256804,0.394703,0.307941,0.110938
4,105,0.206980,0.358524,0.247642,0.394841,0.196456,0.101296

In [5]:
daily=pd.merge(daily, pop, how='inner', on='ID')
daily=pd.merge(daily, environ, how='inner', on='ID')

daily.head()

,ID,19_week_daily,19_hol_daily,20_week_daily,20_hol_daily,week ratio,hol ratio,tot_pop,saup,jong,...,single,y_ratio,one_ratio,tot_ga,food,cafe,tour,bank,num_of_sta,uni_dist
0,101,0.147218,0.248787,0.191620,0.306781,0.301603,0.233109,3119.308642,82.687420,905.496981,...,629.216224,0.571686,0.415103,1515.808533,27,11,1,1,0.0,1727.445882
1,102,0.174882,0.330460,0.234449,0.390857,0.340614,0.182764,5553.265017,585.298449,5327.718891,...,1399.156993,0.574715,0.485508,2881.841910,141,57,0,8,1.0,1312.952825
2,103,0.186649,0.323529,0.252333,0.382716,0.351916,0.182941,5347.571669,552.451941,4852.300334,...,1312.241227,0.571321,0.477412,2748.655612,132,49,0,8,1.0,1276.796875
3,104,0.196342,0.355288,0.256804,0.394703,0.307941,0.110938,3746.554975,1015.973100,7884.476026,...,776.205709,0.536361,0.429680,1806.472361,268,86,0,13,1.0,906.704926
4,105,0.206980,0.358524,0.247642,0.394841,0.196456,0.101296,3603.847069,1029.199546,7764.478220,...,691.128573,0.520636,0.408744,1690.860188,343,94,0,14,2.0,938.661548

In [18]:
red_week=daily[daily['week ratio'] >= 0.5].reset_index(drop=True)
red_week.shape

(487, 21)

In [19]:
blue_week=daily[daily['week ratio'] < 0].reset_index(drop=True)
blue_week.shape

(31, 21)

In [20]:
orange_week=daily[(daily['week ratio']>=0) & (daily['week ratio'] < 0.5)].reset_index(drop=True)
orange_week.shape

(1009, 21)

In [21]:
red_hol=daily[daily['hol ratio'] >= 0.5].reset_index(drop=True)
red_hol.shape

(158, 21)

In [22]:
purple_hol=daily[daily['hol ratio'] <= -0.5].reset_index(drop=True)
purple_hol.shape

(1, 21)

In [23]:
blue_hol=daily[(daily['hol ratio'] < 0) & (daily['hol ratio'] >= -0.5)].reset_index(drop=True)
blue_hol.shape

(54, 21)

In [24]:
orange_hol=daily[(daily['hol ratio']>=0) & (daily['hol ratio'] < 0.5)].reset_index(drop=True)
orange_hol.shape

(1314, 21)

In [33]:
def interval_describe(df):
    columns=df.columns
    
    for i in range(7,len(columns)):
        column=columns[i]
        print('â– â– â– â– â–  '+str(column)+' â– â– â– â– â– ')
        print(df[column].describe())

In [34]:
interval_describe(red_week)

â– â– â– â– â–  tot_pop â– â– â– â– â–
count      487.000000
mean      4545.838375
std       2279.793927
min         45.591836
25%       2998.454187
50%       4532.762262
75%       6092.416639
max      11472.557540
Name: tot_pop, dtype: float64
â– â– â– â– â–  saup â– â– â– â– â–
count     487.000000
mean      258.272365
std       293.803890
min         1.442780
25%        68.824892
50%       168.370906
75%       337.451708
max      2062.951102
Name: saup, dtype: float64
â– â– â– â– â–  jong â– â– â– â– â–
count      487.000000
mean      2034.787546
std       2683.643679
min         47.804098
25%        580.104151
50%       1209.249230
75%       2365.392305
max      19333.593860
Name: jong, dtype: float64
â– â– â– â– â–  2049 â– â– â– â– â–
count     487.000000
mean     2059.991915
std      1055.575510
min        19.429432
25%      1342.874202
50%      1979.199089
75%      2779.773992
max      5795.502167
Name: 2049, dtype: float64
â– â– â– â– â–  single â– â– â– â– â–
count     487.000000
mean      578.941317
std       453.590132
min         4.039783
25%       249.182726
50%       497.891804
75%       786.337385
max      4233.529627
Name: single, dtype: float64
â– â– â– â– â–  y_ratio â– â– â– â– â–
count    487.000000
mean       0.458301
std        0.073114
min        0.129353
25%        0.417466
50%        0.443659
75%        0.483215
max        0.841611
Name: y_ratio, dtype: float64
â– â– â– â– â–  one_ratio â– â– â– â– â–
count    487.000000
mean       0.305757
std        0.152737
min        0.054489
25%        0.198613
50%        0.283600
75%        0.385876
max        0.877953
Name: one_ratio, dtype: float64
â– â– â– â– â–  tot_ga â– â– â– â– â–
count     487.000000
mean     1883.369882
std       952.681265
min        17.120985
25%      1231.898539
50%      1848.406030
75%      2578.440113
max      5603.644823
Name: tot_ga, dtype: float64
â– â– â– â– â–  food â– â– â– â– â–
count    487.000000
mean      56.174538
std       61.056477
min        0.000000
25%       13.000000
50%       37.000000
75%       80.000000
max      480.000000
Name: food, dtype: float64
â– â– â– â– â–  cafe â– â– â– â– â–
count    487.000000
mean      11.363450
std       11.927651
min        0.000000
25%        3.000000
50%        8.000000
75%       15.500000
max       93.000000
Name: cafe, dtype: float64
â– â– â– â– â–  tour â– â– â– â– â–
count    487.000000
mean       0.178645
std        0.443188
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        3.000000
Name: tour, dtype: float64
â– â– â– â– â–  bank â– â– â– â– â–
count    487.000000
mean       4.457906
std        4.106826
min        0.000000
25%        2.000000
50%        3.000000
75%        6.000000
max       27.000000
Name: bank, dtype: float64
â– â– â– â– â–  num_of_sta â– â– â– â– â–
count    487.000000
mean       0.593429
std        0.763761
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        4.000000
Name: num_of_sta, dtype: float64
â– â– â– â– â–  uni_dist â– â– â– â– â–
count     487.000000
mean     2217.793930
std      1509.972156
min        61.937388
25%      1037.982828
50%      1800.102771
75%      3150.105075
max      6676.494771
Name: uni_dist, dtype: float64

In [35]:
interval_describe(blue_week)

â– â– â– â– â–  tot_pop â– â– â– â– â–
count      31.000000
mean     2304.560381
std      2317.112989
min        57.594184
25%       474.927100
50%      1765.587109
75%      3529.879455
max      8872.509006
Name: tot_pop, dtype: float64
â– â– â– â– â–  saup â– â– â– â– â–
count      31.000000
mean      456.333889
std       773.264870
min         3.478052
25%        40.697826
50%       105.724996
75%       566.760124
max      3872.502255
Name: saup, dtype: float64
â– â– â– â– â–  jong â– â– â– â– â–
count       31.000000
mean      4479.638941
std       6327.645474
min        103.162562
25%        487.856641
50%       1415.559805
75%       6859.852090
max      25279.829510
Name: jong, dtype: float64
â– â– â– â– â–  2049 â– â– â– â– â–
count      31.000000
mean     1226.632197
std      1410.453387
min        36.254272
25%       270.617352
50%       766.082767
75%      1837.923597
max      6013.296856
Name: 2049, dtype: float64
â– â– â– â– â–  single â– â– â– â– â–
count      31.000000
mean      555.231476
std       899.165924
min         0.000000
25%       103.784919
50%       201.179643
75%       588.878409
max      4398.125033
Name: single, dtype: float64
â– â– â– â– â–  y_ratio â– â– â– â– â–
count    31.000000
mean      0.494715
std       0.130318
min       0.357051
25%       0.404876
50%       0.432756
75%       0.546047
max       0.858719
Name: y_ratio, dtype: float64
â– â– â– â– â–  one_ratio â– â– â– â– â–
count    31.000000
mean      0.424544
std       0.198408
min       0.000000
25%       0.271138
50%       0.398379
75%       0.545874
max       0.811867
Name: one_ratio, dtype: float64
â– â– â– â– â–  tot_ga â– â– â– â– â–
count      31.000000
mean     1156.946973
std      1311.643978
min         0.235800
25%       283.027852
50%       721.779822
75%      1843.739581
max      5837.910704
Name: tot_ga, dtype: float64
â– â– â– â– â–  food â– â– â– â– â–
count     31.000000
mean      75.645161
std       95.504118
min        0.000000
25%        9.500000
50%       28.000000
75%      116.000000
max      415.000000
Name: food, dtype: float64
â– â– â– â– â–  cafe â– â– â– â– â–
count    31.000000
mean     19.612903
std      24.456325
min       0.000000
25%       2.000000
50%      10.000000
75%      30.500000
max      91.000000
Name: cafe, dtype: float64
â– â– â– â– â–  tour â– â– â– â– â–
count    31.000000
mean      0.838710
std       1.733912
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       8.000000
Name: tour, dtype: float64
â– â– â– â– â–  bank â– â– â– â– â–
count    31.000000
mean      7.032258
std       9.676376
min       0.000000
25%       2.000000
50%       3.000000
75%       7.000000
max      41.000000
Name: bank, dtype: float64
â– â– â– â– â–  num_of_sta â– â– â– â– â–
count    31.000000
mean      0.806452
std       0.980454
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       4.000000
Name: num_of_sta, dtype: float64
â– â– â– â– â–  uni_dist â– â– â– â– â–
count      31.000000
mean     1876.062461
std      1446.297631
min       201.023619
25%       743.699697
50%      1445.520882
75%      2579.999753
max      5281.071322
Name: uni_dist, dtype: float64

In [36]:
interval_describe(orange_week)

â– â– â– â– â–  tot_pop â– â– â– â– â–
count     1009.000000
mean      3926.008156
std       2286.546125
min         32.343260
25%       2122.998993
50%       3816.702542
75%       5561.348678
max      11533.171010
Name: tot_pop, dtype: float64
â– â– â– â– â–  saup â– â– â– â– â–
count    1009.000000
mean      500.053018
std       526.604275
min         0.474336
25%       161.064116
50%       381.156963
75%       623.454260
max      4019.709842
Name: saup, dtype: float64
â– â– â– â– â–  jong â– â– â– â– â–
count     1009.000000
mean      4199.301863
std       4778.034736
min         46.472635
25%       1218.768857
50%       2611.929350
75%       5327.718891
max      33944.643710
Name: jong, dtype: float64
â– â– â– â– â–  2049 â– â– â– â– â–
count    1009.000000
mean     1932.377095
std      1164.993191
min        19.429432
25%      1073.375359
50%      1877.656423
75%      2666.242109
max      7396.396359
Name: 2049, dtype: float64
â– â– â– â– â–  single â– â– â– â– â–
count    1009.000000
mean      721.148219
std       651.607055
min         0.000000
25%       265.262247
50%       582.676616
75%       981.743577
max      5578.653375
Name: single, dtype: float64
â– â– â– â– â–  y_ratio â– â– â– â– â–
count    1009.000000
mean        0.496829
std         0.100977
min         0.131511
25%         0.430838
50%         0.473683
75%         0.543409
max         0.916009
Name: y_ratio, dtype: float64
â– â– â– â– â–  one_ratio â– â– â– â– â–
count    1009.000000
mean        0.400974
std         0.191500
min         0.000000
25%         0.255075
50%         0.387312
75%         0.537684
max         0.899459
Name: one_ratio, dtype: float64
â– â– â– â– â–  tot_ga â– â– â– â– â–
count    1009.000000
mean     1794.223924
std      1070.041648
min         0.191594
25%       980.607032
50%      1751.826012
75%      2498.622788
max      7154.625869
Name: tot_ga, dtype: float64
â– â– â– â– â–  food â– â– â– â– â–
count    1009.000000
mean      111.427156
std       101.242905
min         0.000000
25%        33.000000
50%        86.000000
75%       160.000000
max       549.000000
Name: food, dtype: float64
â– â– â– â– â–  cafe â– â– â– â– â–
count    1009.000000
mean       25.092170
std        24.537719
min         0.000000
25%         8.000000
50%        17.000000
75%        35.000000
max       178.000000
Name: cafe, dtype: float64
â– â– â– â– â–  tour â– â– â– â– â–
count    1009.000000
mean        0.431120
std         0.966432
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        11.000000
Name: tour, dtype: float64
â– â– â– â– â–  bank â– â– â– â– â–
count    1009.000000
mean        7.718533
std         7.329413
min         0.000000
25%         3.000000
50%         6.000000
75%        10.000000
max        57.000000
Name: bank, dtype: float64
â– â– â– â– â–  num_of_sta â– â– â– â– â–
count    1009.000000
mean        0.769078
std         0.899292
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         6.000000
Name: num_of_sta, dtype: float64
â– â– â– â– â–  uni_dist â– â– â– â– â–
count    1009.000000
mean     1786.886417
std      1199.184640
min        35.983281
25%       872.702254
50%      1443.196090
75%      2534.011621
max      6798.030007
Name: uni_dist, dtype: float64

In [37]:
interval_describe(red_hol)

â– â– â– â– â–  tot_pop â– â– â– â– â–
count      158.000000
mean      4301.451107
std       2336.848816
min        117.805642
25%       2517.788639
50%       4280.490029
75%       5943.947774
max      11472.557540
Name: tot_pop, dtype: float64
â– â– â– â– â–  saup â– â– â– â– â–
count     158.000000
mean      179.011917
std       255.452104
min         1.643734
25%        35.245432
50%        97.568300
75%       215.687747
max      1711.097208
Name: saup, dtype: float64
â– â– â– â– â–  jong â– â– â– â– â–
count      158.000000
mean      1688.189218
std       2685.728973
min         46.472635
25%        430.671987
50%        804.225714
75%       1722.211412
max      18191.220930
Name: jong, dtype: float64
â– â– â– â– â–  2049 â– â– â– â– â–
count     158.000000
mean     1924.719753
std      1078.383921
min        55.587537
25%      1186.345199
50%      1875.434022
75%      2627.277255
max      5511.574426
Name: 2049, dtype: float64
â– â– â– â– â–  single â– â– â– â– â–
count     158.000000
mean      502.795012
std       509.763100
min         9.365310
25%       184.788346
50%       389.570787
75%       666.562726
max      3746.591315
Name: single, dtype: float64
â– â– â– â– â–  y_ratio â– â– â– â– â–
count    158.000000
mean       0.452908
std        0.077887
min        0.335536
25%        0.411400
50%        0.430549
75%        0.472132
max        0.820954
Name: y_ratio, dtype: float64
â– â– â– â– â–  one_ratio â– â– â– â– â–
count    158.000000
mean       0.285399
std        0.167453
min        0.054489
25%        0.155856
50%        0.258442
75%        0.361859
max        0.877953
Name: one_ratio, dtype: float64
â– â– â– â– â–  tot_ga â– â– â– â– â–
count     158.000000
mean     1731.286268
std       985.388950
min        23.281123
25%      1051.763503
50%      1748.190654
75%      2423.995516
max      5272.846047
Name: tot_ga, dtype: float64
â– â– â– â– â–  food â– â– â– â– â–
count    158.000000
mean      31.037975
std       34.756274
min        0.000000
25%        4.250000
50%       21.000000
75%       41.750000
max      188.000000
Name: food, dtype: float64
â– â– â– â– â–  cafe â– â– â– â– â–
count    158.000000
mean       6.873418
std        7.461779
min        0.000000
25%        1.250000
50%        4.500000
75%        9.000000
max       42.000000
Name: cafe, dtype: float64
â– â– â– â– â–  tour â– â– â– â– â–
count    158.000000
mean       0.170886
std        0.454181
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: tour, dtype: float64
â– â– â– â– â–  bank â– â– â– â– â–
count    158.000000
mean       3.189873
std        3.035148
min        0.000000
25%        1.000000
50%        2.000000
75%        4.000000
max       15.000000
Name: bank, dtype: float64
â– â– â– â– â–  num_of_sta â– â– â– â– â–
count    158.000000
mean       0.620253
std        0.753823
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        3.000000
Name: num_of_sta, dtype: float64
â– â– â– â– â–  uni_dist â– â– â– â– â–
count     158.000000
mean     2481.042762
std      1662.996451
min        84.483805
25%      1102.218577
50%      2100.235074
75%      3569.389997
max      6510.408103
Name: uni_dist, dtype: float64

In [38]:
interval_describe(purple_hol)

â– â– â– â– â–  tot_pop â– â– â– â– â–
count      1.000000
mean     250.518469
std             NaN
min      250.518469
25%      250.518469
50%      250.518469
75%      250.518469
max      250.518469
Name: tot_pop, dtype: float64
â– â– â– â– â–  saup â– â– â– â– â–
count       1.000000
mean     1560.803004
std              NaN
min      1560.803004
25%      1560.803004
50%      1560.803004
75%      1560.803004
max      1560.803004
Name: saup, dtype: float64
â– â– â– â– â–  jong â– â– â– â– â–
count        1.00000
mean     21193.60396
std              NaN
min      21193.60396
25%      21193.60396
50%      21193.60396
75%      21193.60396
max      21193.60396
Name: jong, dtype: float64
â– â– â– â– â–  2049 â– â– â– â– â–
count     1.000000
mean     98.890304
std            NaN
min      98.890304
25%      98.890304
50%      98.890304
75%      98.890304
max      98.890304
Name: 2049, dtype: float64
â– â– â– â– â–  single â– â– â– â– â–
count     1.000000
mean     98.435581
std            NaN
min      98.435581
25%      98.435581
50%      98.435581
75%      98.435581
max      98.435581
Name: single, dtype: float64
â– â– â– â– â–  y_ratio â– â– â– â– â–
count    1.000000
mean     0.394743
std           NaN
min      0.394743
25%      0.394743
50%      0.394743
75%      0.394743
max      0.394743
Name: y_ratio, dtype: float64
â– â– â– â– â–  one_ratio â– â– â– â– â–
count    1.000000
mean     0.757524
std           NaN
min      0.757524
25%      0.757524
50%      0.757524
75%      0.757524
max      0.757524
Name: one_ratio, dtype: float64
â– â– â– â– â–  tot_ga â– â– â– â– â–
count      1.000000
mean     129.943861
std             NaN
min      129.943861
25%      129.943861
50%      129.943861
75%      129.943861
max      129.943861
Name: tot_ga, dtype: float64
â– â– â– â– â–  food â– â– â– â– â–
count      1.0
mean     415.0
std        NaN
min      415.0
25%      415.0
50%      415.0
75%      415.0
max      415.0
Name: food, dtype: float64
â– â– â– â– â–  cafe â– â– â– â– â–
count     1.0
mean     91.0
std       NaN
min      91.0
25%      91.0
50%      91.0
75%      91.0
max      91.0
Name: cafe, dtype: float64
â– â– â– â– â–  tour â– â– â– â– â–
count    1.0
mean     3.0
std      NaN
min      3.0
25%      3.0
50%      3.0
75%      3.0
max      3.0
Name: tour, dtype: float64
â– â– â– â– â–  bank â– â– â– â– â–
count     1.0
mean     41.0
std       NaN
min      41.0
25%      41.0
50%      41.0
75%      41.0
max      41.0
Name: bank, dtype: float64
â– â– â– â– â–  num_of_sta â– â– â– â– â–
count    1.0
mean     2.0
std      NaN
min      2.0
25%      2.0
50%      2.0
75%      2.0
max      2.0
Name: num_of_sta, dtype: float64
â– â– â– â– â–  uni_dist â– â– â– â– â–
count       1.000000
mean     1167.663142
std              NaN
min      1167.663142
25%      1167.663142
50%      1167.663142
75%      1167.663142
max      1167.663142
Name: uni_dist, dtype: float64

In [39]:
interval_describe(blue_hol)

â– â– â– â– â–  tot_pop â– â– â– â– â–
count       54.000000
mean      2844.714955
std       2441.882600
min        131.613397
25%        831.769859
50%       2124.644479
75%       4409.165196
max      10714.517390
Name: tot_pop, dtype: float64
â– â– â– â– â–  saup â– â– â– â– â–
count      54.000000
mean      694.172459
std       909.651293
min         6.772449
25%        91.641947
50%       367.275340
75%       838.022339
max      3930.159049
Name: saup, dtype: float64
â– â– â– â– â–  jong â– â– â– â– â–
count       54.000000
mean      5288.150774
std       5792.728570
min        173.002646
25%       1096.205149
50%       2265.888827
75%       9526.054088
max      25279.829510
Name: jong, dtype: float64
â– â– â– â– â–  2049 â– â– â– â– â–
count      54.000000
mean     1413.095081
std      1286.501828
min        42.344854
25%       388.168039
50%      1075.200744
75%      2189.739517
max      6013.296856
Name: 2049, dtype: float64
â– â– â– â– â–  single â– â– â– â– â–
count      54.000000
mean      620.846596
std       711.175194
min        17.087169
25%       185.289412
50%       455.446053
75%       765.743869
max      4398.125033
Name: single, dtype: float64
â– â– â– â– â–  y_ratio â– â– â– â– â–
count    54.000000
mean      0.485734
std       0.116752
min       0.131511
25%       0.414114
50%       0.460518
75%       0.554347
max       0.760264
Name: y_ratio, dtype: float64
â– â– â– â– â–  one_ratio â– â– â– â– â–
count    54.000000
mean      0.458380
std       0.174085
min       0.094811
25%       0.318563
50%       0.421118
75%       0.596214
max       0.776463
Name: one_ratio, dtype: float64
â– â– â– â– â–  tot_ga â– â– â– â– â–
count      54.000000
mean     1387.536244
std      1214.631640
min        43.479066
25%       362.701680
50%      1002.490189
75%      2065.679285
max      5837.910704
Name: tot_ga, dtype: float64
â– â– â– â– â–  food â– â– â– â– â–
count     54.000000
mean     108.351852
std      108.354094
min        0.000000
25%       19.750000
50%       84.500000
75%      150.250000
max      519.000000
Name: food, dtype: float64
â– â– â– â– â–  cafe â– â– â– â– â–
count     54.000000
mean      26.611111
std       25.267935
min        0.000000
25%        6.000000
50%       18.000000
75%       43.750000
max      102.000000
Name: cafe, dtype: float64
â– â– â– â– â–  tour â– â– â– â– â–
count    54.000000
mean      0.962963
std       1.852718
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       9.000000
Name: tour, dtype: float64
â– â– â– â– â–  bank â– â– â– â– â–
count    54.000000
mean      7.981481
std       7.836756
min       0.000000
25%       2.000000
50%       4.500000
75%      12.000000
max      33.000000
Name: bank, dtype: float64
â– â– â– â– â–  num_of_sta â– â– â– â– â–
count    54.000000
mean      0.833333
std       0.841158
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       4.000000
Name: num_of_sta, dtype: float64
â– â– â– â– â–  uni_dist â– â– â– â– â–
count      54.000000
mean     1346.466632
std       934.544685
min       289.591980
25%       652.432611
50%       958.529741
75%      1791.156636
max      3970.554080
Name: uni_dist, dtype: float64

In [40]:
interval_describe(orange_hol)

â– â– â– â– â–  tot_pop â– â– â– â– â–
count     1314.000000
mean      4119.568104
std       2293.111621
min         32.343260
25%       2340.570734
50%       4042.406603
75%       5714.190509
max      11533.171010
Name: tot_pop, dtype: float64
â– â– â– â– â–  saup â– â– â– â– â–
count    1314.000000
mean      439.230205
std       469.595187
min         0.474336
25%       135.756943
50%       323.190525
75%       549.686734
max      4019.709842
Name: saup, dtype: float64
â– â– â– â– â–  jong â– â– â– â– â–
count     1314.000000
mean      3647.959117
std       4392.941682
min         47.804098
25%       1049.882874
50%       2186.854729
75%       4493.147285
max      33944.643710
Name: jong, dtype: float64
â– â– â– â– â–  2049 â– â– â– â– â–
count    1314.000000
mean     1986.680673
std      1138.047998
min        19.429432
25%      1133.505954
50%      1935.330897
75%      2728.969864
max      7396.396359
Name: 2049, dtype: float64
â– â– â– â– â–  single â– â– â– â– â–
count    1314.000000
mean      695.380051
std       608.393111
min         0.000000
25%       272.083010
50%       570.868681
75%       949.352567
max      5578.653375
Name: single, dtype: float64
â– â– â– â– â–  y_ratio â– â– â– â– â–
count    1314.000000
mean        0.488314
std         0.095666
min         0.129353
25%         0.427335
50%         0.463095
75%         0.526749
max         0.916009
Name: y_ratio, dtype: float64
â– â– â– â– â–  one_ratio â– â– â– â– â–
count    1314.000000
mean        0.377507
std         0.184653
min         0.000000
25%         0.239506
50%         0.357384
75%         0.497325
max         0.899459
Name: one_ratio, dtype: float64
â– â– â– â– â–  tot_ga â– â– â– â– â–
count    1314.000000
mean     1837.776482
std      1039.163830
min         0.191594
25%      1036.564401
50%      1812.311825
75%      2561.108221
max      7154.625869
Name: tot_ga, dtype: float64
â– â– â– â– â–  food â– â– â– â– â–
count    1314.000000
mean       99.666667
std        94.946844
min         0.000000
25%        28.000000
50%        73.000000
75%       140.000000
max       549.000000
Name: food, dtype: float64
â– â– â– â– â–  cafe â– â– â– â– â–
count    1314.000000
mean       21.952816
std        22.661439
min         0.000000
25%         7.000000
50%        15.000000
75%        29.000000
max       178.000000
Name: cafe, dtype: float64
â– â– â– â– â–  tour â– â– â– â– â–
count    1314.000000
mean        0.354642
std         0.831930
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        11.000000
Name: tour, dtype: float64
â– â– â– â– â–  bank â– â– â– â– â–
count    1314.000000
mean        7.002283
std         6.794839
min         0.000000
25%         2.000000
50%         5.000000
75%        10.000000
max        57.000000
Name: bank, dtype: float64
â– â– â– â– â–  num_of_sta â– â– â– â– â–
count    1314.000000
mean        0.719178
std         0.875918
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         6.000000
Name: num_of_sta, dtype: float64
â– â– â– â– â–  uni_dist â– â– â– â– â–
count    1314.000000
mean     1883.797836
std      1274.045131
min        35.983281
25%       931.950947
50%      1501.396423
75%      2660.584579
max      6798.030007
Name: uni_dist, dtype: float64